body {
    font-family: Arial, sans-serif;
    background-color: #06223e; /* Dark Blue background */
    color: #d3d3d3; /* Light Gray text color */
    margin: 0;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001f3f; /* Dark Blue background */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5); /* Light Blue shadow */
    margin-bottom: 20px;
}

.navbar h1 {
    text-align: center;
    color: #fbfdff; /* Light Blue text */
}

.navbar button {
    background-color: #e4e6e9; /* Light Blue background */
    border: none;
    border-radius: 4px;
    color: #031528; /* Dark Blue text */
    cursor: pointer;
}

.navbar button:hover {
    background-color: #bfc6cd; /* Darker Blue on hover */
}

.cart {
    margin: 20px 20px;
    padding: 10px;
    background-color: #ecf1f4; /* Dark Blue background */
    border: 1px solid #3f85d0; /* Light Blue border */
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5); /* Light Blue shadow */
}

.cart h2 {
    font-size: 18px;
    margin-top: 0;
    color: #0a223c; /* Light Blue color */
}

.cart-items {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}

.cart-item {
    margin-top: 10px;
    border: 1px solid #007bff; /* Light Blue border */
    border-radius: 4px;
    padding: 10px;
    background-color: #002f6f; /* Darker Blue background */
    box-shadow: 0 2px 5px rgba(0, 123, 255, 0.5); /* Light Blue shadow */
    transition: box-shadow 0.3s;
    width: calc(20% - 20px);
    box-sizing: border-box;
    text-align: center;
}

.cart-item img {
    border: 1px solid #193451; /* Light Blue border */
    border-radius: 4px;
    height: 103.43px;
    width: 77.96px;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item button {
    background-color: #e6ebf0; /* Light Blue background */
    border: none;
    color: #001f3f; /* Dark Blue text */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.cart-item button:hover {
    background-color: #0056b3; /* Darker Blue on hover */
}

.cart-item-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity-btn {
    background-color: #007bff; /* Light Blue background */
    border: none;
    color: #001f3f; /* Dark Blue text */
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
}

.quantity-btn:hover {
    background-color: #0056b3; /* Darker Blue on hover */
}

.quantity-display {
    font-size: 14px;
    margin: 0 10px;
}

.category, .vendor {
    font-size: 20px;
    color: #fdfdfd; /* Light Blue color */
    font-weight: bold;
}

.price {
    font-size: 20px;
    color: #007bff; /* Light Blue color */
    font-weight: bold;
}

.compare-at-price {
    text-decoration: line-through;
    color: #dc3545; /* Red color */
    margin-left: 10px;
    font-weight: normal;
}
